<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard | SocketIO Server</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">
<!--        <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item m-2">
                    <a class="btn btn btn-outline-dark" href="/">Home</a>
                </li>
                <li class="nav-item m-2">
                    <button class="btn btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#newEventModal">New Event</button>
                </li>
            </ul>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= user.name %>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" href="/auth/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <!-- Add New Modal -->
    <div class="modal fade" id="newEventModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newEventModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark-subtle bg-gradient">
                    <h1 class="modal-title fs-5" id="newEventModalTitle">New Event</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" id="newEventForm" action="/dashboard/event/create">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="eventTitle" class="form-label">Event Name</label>
                            <input name="title" class="form-control" id="eventTitle" aria-describedby="titleHelp" required="required">
                            <div id="titleHelp" class="form-text">Put a name for the event.</div>
                        </div>
                        <div class="mb-3">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-9">
                                    <label for="eventToken" class="form-label">Token</label>
                                    <input name="token" class="form-control" id="eventToken" aria-describedby="tokenHelp" required="required" disabled>
                                    <div id="tokenHelp" class="form-text">Click generate button to generate a unique token for the event.</div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-outline-dark float-end mb-3" id="generateBtn">Generate</button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="eventComment" class="form-label">Comment</label>
                            <textarea name="comment" class="form-control" id="eventComment" rows="3" aria-describedby="commentHelp" required></textarea>
                            <div id="commentHelp" class="form-text">Write something about the event.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success" disabled="disabled" id="addEventBtn">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="/dashboard/event/delete">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalTitle">Are you sure?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete <span class="fw-bolder" id="deleteEventName"></span> event?</p>
                        <input type="hidden" name="id" id="deleteEventId">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- View Code Modal -->
    <div class="modal fade" id="viewCodeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="viewCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-dark-subtle bg-gradient">
                    <h1 class="modal-title fs-5" id="viewCodeModalLabel">Socket IO initialization</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <code>
                        <span class="text-muted">// add script tag to your html</span><br>
                        &lt;script src="<%= socketUrl %>/socket.io/socket.io.min.js"&gt;&lt;/script&gt;<br>
                        <span class="text-muted">// initialize socket.io</span><br>
                        const socket = io('<%= socketUrl %>');
                        socket.on('connect', function () {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;socket.emit('socket_client_config', {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;event_name: '<span class="codeEventName"></span>',<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;event_token: '<span class="codeEventToken"></span>'<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;});<br>
                        });<br>
                        <span class="text-muted">// emit your event here</span><br>
                        socket.emit('<span class="codeEventName"></span>', 'your data here');<br>
                        <span class="text-muted">// listen to your event here</span><br>
                        socket.on('<span class="codeEventName"></span>', function (data) {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">// Do something with your data</span><br>
                        });<br>
                    </code>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <% if(data.length > 0){ %>
        <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Event Name</th>
            <th scope="col">Token</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Comment</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <% data.reverse().forEach((event, index) =>{ %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= event.title %></td>
                <td><%= event.token %></td>
                <td><%= moment.unix(event.date_created).format("MM-DD-YYYY h:m A") %></td>
                <td><%= event.comment %></td>
                <td class="text-center">
                    <button type="button" class="btn btn-outline-primary btn-sm me-2 view-code" data-bs-toggle="modal" data-bs-target="#viewCodeModal" event-data="<%= JSON.stringify(event) %>">View Code</button>
                    <button type="button" class="btn btn-outline-danger btn-sm delete-event" data-bs-toggle="modal" data-bs-target="#deleteModal" event-data="<%= JSON.stringify(event) %>">Delete</button>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <div class="alert alert-info mt-5 alert-dismissible fade show" role="alert">
            You don't have any events yet.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
</div>
<script>
    $(document).ready(function () {
        $('#generateBtn').click(function () {
            // Generate a random string
            let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            let text = "";
            for (let i = 0; i < 32 ; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }
            $('#eventToken').val(text);
        });
        $('#newEventForm').keyup(function (){
            let title = $('#eventTitle').val();
            let key = $('#eventToken').val();
            let comment = $('#eventComment').val();
            if (title.length > 0 && key.length > 0 && comment.length > 0) {
                $('#addEventBtn').removeAttr('disabled');
            } else {
                $('#addEventBtn').attr('disabled', 'disabled');
            }
        });
        $('.delete-event').click(function (){
            let event = JSON.parse($(this).attr('event-data'));
            $('#deleteEventName').text(event.title);
            $('#deleteEventId').val(event.id);
        });
        $('.view-code').click(function (){
            let event = JSON.parse($(this).attr('event-data'));
            $('.codeEventName').text(event.title);
            $('.codeEventToken').text(event.token);
        });
    });
</script>
</body>
</html>